<widget-modal widget-modal-close="true">
    <div class="widget-detail deploy-detail">
        <div class="deploy-view">
			  <table class="table">
						  <tr class="dash-overflow environment-name">
							<td align="left">
								DEV 
							</td>
						  </tr>
						  <tr>		  
							<td>
								 <img src="http://172.18.51.88:8082/job/App_Deploy_FAT/buildTimeGraph/png" />
							</td>
						  </tr>
						  
						  
						  <tr class="dash-overflow environment-name">
							<td align="left">
								NFR
							</td>
						  </tr>
						  <tr>		  
							<td>
								 <img src="http://172.18.51.88:8082/job/App_Deploy_NFR/buildTimeGraph/png" />
							</td>
						  </tr>
						  
						  
						  <tr class="dash-overflow environment-name">
							<td align="left">
								STAGE
							</td>
						  </tr>
						  <tr>		  
							<td>
								 <img src="http://172.18.51.88:8082/job/App_Deploy_Staging/buildTimeGraph/png" />
							</td>
						  </tr>
						  
						  
						   <tr class="dash-overflow environment-name">
							<td align="left">
								PROD
							</td>
						  </tr>
						  <tr>		  
							<td>
								 <img src="http://172.18.51.88:8082/job/App_Deploy_PROD/buildTimeGraph/png" />
							</td>
						  </tr>
						  
						  
						  
						  
						</table>
		 </div>	   
    </div>
</widget-modal>